<%- include("../layouts/header.ejs") %>
<%- include("./admin-sidebar.ejs") %>

        <div class="col-md-9">
          <div class="dash-right">
            <h1>WELCOME, <%= name %></h1>
            <h3>Your Email: <%= email %></h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit velit unde nam doloremque voluptate voluptates quidem sunt quaerat eum aut culpa excepturi sit, beatae ipsum maxime sapiente est obcaecati. Perspiciatis!
              Eligendi nostrum, ea illum reiciendis minus corrupti id vel nam distinctio similique, rerum magni animi veritatis. Exercitationem, sint vero. Voluptate aspernatur reprehenderit deleniti eius sequi dolor ratione corporis hic numquam?
              In placeat nulla nisi? Delectus, voluptatum recusandae amet voluptas repudiandae sed earum nobis officia saepe porro fuga modi vero commodi ipsam consequatur facere optio sit eligendi provident eius? Suscipit, commodi.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include("../layouts/footer.ejs") %>